# General
node_modules/
dist/
.DS_Store
.env

# Go
app/backend/bin/
app/backend/tmp/
app/backend/coverage/
app/backend/.air.toml.local
app/backend/wire_gen.go
app/backend/go.sum

# Docker
**/.cache/
**/.vite/
**/.eslintcache
**/.pnpm-store
**/.turbo

